.Board {
    display: flex;
    flex-direction: row;
    padding: 16px;
    max-height: 100vh;
}

.Columns {
    padding: 16px;
    display: flex;
    height: 100%;
    max-height: 100vh;
}
.Columns > * + * {
    margin-left: 24px;
}

.Column {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border-radius: 6px;
    padding: 8px;
    background: #6f85c4bb;
    height: auto;
    max-height: 100%;
}
.Column > * + * {
    margin-top: 24px;
}

.Column__Cards {
    overflow-y: auto;
}

.Column__Cards > * + * {
    margin-top: 8px;
}

.Column__Form > * + * {
    margin-left: 4px;
}

.Column__Form input {
    outline: none;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border: none;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px;
}
.Column__Form input:focus {
    box-shadow: 0 2px 3px rgba(255, 115, 0, 0.801), 0 0 0 1px rgba(255, 115, 0, 0.801);
}

.Column__Form button {
    border: none;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding: 8px;
}

.Card {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border-radius: 6px;
    padding: 4px 8px;
    background: white;
    display: flex;
    justify-content: space-between;
}

.Card p {
    padding: 4px 0;
    margin: 0;
}

.Card__Remove {
    border: none;
    border-radius: 6px;
    outline: none;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.Card__Remove:active {
    box-shadow: inset 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
